body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: aqua;
    font-size: 2em;
}
h1{
    color: red;
    font-size: 3em;
}
h2{
    font-size: 2rem;
}