.tituloPrincipal{
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.subtitulo{
   background-color: darkgreen;
  color: white;
   text-align: right;
}
.texto1{
    text-align: justify;
    background-color: darkgreen;
    color: white;
}
.texto2{
    text-align: justify;
    background-color: darkgreen;
    color: white;
}

a{
    text-decoration: none;
    color: darkgreen;
}
a:hover{
    color: red;
    text-decoration: underline;
    
}
