body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0092c4;
}
.titulo{
  text-align: center;
  background-color: rgb(255, 58, 58);
  color: white;


}
p{
    text-align: justify;
}
h1{
    text-align: center;
    background-color: rgb(255, 58, 58);
    color: white;
}
h2{
    text-align: center;
    color: rgb(255, 58, 58);
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    text-decoration: underline;
    
}